<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="applicable-device" content="mobile">
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="renderer" content="webkit">
		<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
		<meta name="HandheldFriendly" content="true">
		<meta name="msapplication-tap-highlight" content="no">
		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- UC应用模式 -->
		<meta name="browsermode" content="application">
		<meta name="x5-page-mode" content="default">
    {{{ meta }}}
    {{{ renderResourceHints().replace(/href="/g, `href="${cdn}`) }}}
		{{{ renderStyles().replace(/href="/g, `href="${cdn}`) }}}
    {{{ link }}}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ cdn }}/assets/swiper-bundle.min.css">
    <script src="{{ cdn }}/assets/swiper-bundle.min.js"></script>
</head>
<body>
    <!--vue-ssr-outlet-->
    {{{ value }}}
    {{{ renderState() }}}
    {{{ script }}}
    {{{ renderScripts().replace(/src="/g, `src="${cdn}`) }}}
</body>
</html>